<!-- Modal -->
<div class="modal fade" [id]="modalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <button mat-icon-button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="modal-body">
        <ng-content></ng-content>
      </div>

      <!-- <div class="modal-footer">
        
        <button mat-flat-button data-bs-dismiss="modal">{{cancelButtonText}}</button>

        <button mat-flat-button color="primary" 
          (click)="onConfirmClick()">{{confirmButtonText}}</button>
      </div> -->

    </div>
  </div>
</div>
<!-- END MODAL -->