@import "~@angular/material/theming";

.modal-header {
  border: none;
  border-top: 2px solid var(--bs-purple);
  padding-bottom: 0;

  .btn-close {
    padding: 0;
  }
}

.modal-footer {
  border: none;
  padding-top: 0;
}
