<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="form-container">

    <mat-form-field appearance="outline">

        <mat-label>Título</mat-label>

        <input matInput formControlName="title" type="text">

    </mat-form-field>

    <mat-form-field appearance="outline">

        <mat-label>Conteúdo</mat-label>

        <textarea matInput formControlName="content" cdkTextareaAutosize></textarea>

    </mat-form-field>

    <mat-card-footer class="d-flex justify-content-end">
        <button mat-flat-button data-bs-dismiss="modal">Fechar</button>

        <button type="submit" mat-flat-button color="primary">Salvar</button>
    </mat-card-footer>

</form>