<div class="wid-drawer">

    <div *ngFor="let widget of widgetsOnDrawer; let widgetIndex = index;"  
        class="wid-drawer-segment">

        <!-- PLACEHOLDER WIDGET -->
        <div class="wid-drawer-button placeholder-button d-flex-center">
            
            <i [class]="widget.icon"></i>

            <label>
                <span *ngIf="widget.type == widgetTypes.NOTE">Note</span>
                <span *ngIf="widget.type == widgetTypes.COLUMN">Column</span>
            </label>
            
        </div>
        
        <!-- WIDGET TO DRAG -->
        <div id="widDrawerItem{{widgetIndex}}" 
            class="wid-drawer-button d-flex-center"
            cdkDrag
            (cdkDragStarted)="drawerDragStarted($event, widgetIndex)"
            (cdkDragReleased)="drawerDragReleased($event, widgetIndex)"
            (cdkDragEnded)="drawerDragEnded($event, widgetIndex, widget.type)">
            
            <i class="{{widget.icon}} animate__animated animate__fadeIn animate__faster"></i>
            
            <label class="animate__animated animate__fadeIn animate__faster">
                <span *ngIf="widget.type == widgetTypes.NOTE">Note</span>
                <span *ngIf="widget.type == widgetTypes.COLUMN">Column</span>
            </label>

            <!-- WIDGET TO PREVIEW -->
            <widget-container *ngIf="widget.type == widgetTypes.NOTE"
                class="wid-drawer-preview animate__animated animate__fadeIn animate__faster" 
                [widget]="widget"></widget-container>

            <widget-column *ngIf="widget.type == widgetTypes.COLUMN"
                class="wid-drawer-preview animate__animated animate__fadeIn animate__faster" 
                [widget]="widget"></widget-column>
        </div>
    </div>
</div>

<div class="wid-desktop">

    <ng-container *ngFor="let widget of widgetsOnDesktop; let widgetIndex = index;">

        <widget-container 
            *ngIf="widget.type == widgetTypes.NOTE"
            cdkDrag
            [widgetIndex]="widgetIndex"
            [widget]="widget"
            [cdkDragData]="widget"
            [style.transform]="widget.dragTranslation"
            (cdkDragStarted)="deskDragStarted($event, widgetIndex)"
            (cdkDragReleased)="deskDragReleased($event, widgetIndex)"
            (cdkDragEnded)="deskDragEnded($event, widgetIndex)"
            cdkDragBoundary=".wid-desktop"></widget-container> 
        
        <widget-column *ngIf="widget.type == widgetTypes.COLUMN"
            cdkDrag
            [widgetIndex]="widgetIndex"
            [widget]="widget"
            [cdkDragData]="widget"
            [style.transform]="widget.dragTranslation"
            (cdkDragStarted)="deskDragStarted($event, widgetIndex)"
            (cdkDragReleased)="deskDragReleased($event, widgetIndex)"
            (cdkDragEnded)="deskDragEnded($event, widgetIndex)"
            cdkDragBoundary=".wid-desktop"></widget-column> 
    </ng-container>
</div>