<!-- <div class="wid-drawer">
  <div class="wid-drawer-segment"> -->

<!-- DRAWER PLACEHOLDER -->
<!-- <div class="wid-drawer-button placeholder-button d-flex-center">
      <i class="bi-card-text"></i>
      <label>Note</label>
    </div> -->

<!-- DRAGGABLE -->
<!-- <div class="wid-drawer-button draggable  d-flex-center">
      <i class="bi-card-text"></i>
      <label>Note</label> -->

<!-- DRAG PLACEHOLDER -->
<!-- <widget-container 
      class="wid-drawer-drag-placeholder animate__animated animate__fadeIn animate__faster"
      [widget]="widgetsDrawer[0]"></widget-container>

    </div>

  </div>
</div> -->

<!-- <div class="wid-desktop" cdkDrop>

  <widget-container 
    cdkDrag
    *ngFor="let widget of widgetsOnDesktop; let widgetIndex = index;" 
    [widgetIndex]="widgetIndex"
    [widget]="widget"
    [ngStyle]="{'transform': widget.dragTranslation}"></widget-container>
</div> -->

<!-- <div class="wid-drawer" 
    cdkDropList 
    #widgetDrawer="cdkDropList"
    cdkDropListSortingDisabled
    [cdkDropListData]="widgetsDrawer" 
    [cdkDropListConnectedTo]="[widgetDesktop]">

    <div class="wid-drawer-segment">

        <div class="wid-drawer-button placeholder-button d-flex-center">
            <i class="bi-card-text"></i>
            <label>Note</label>
        </div>
    
        <div class="wid-drawer-button d-flex-center"
            cdkDrag
            (cdkDragEnded)="dragFromDrawerEnded($event)">
            <i class="bi-card-text"></i>
            <label>Note</label>
            <widget-container *cdkDragPreview [widget]="widgetsDrawer[0]"></widget-container>
        </div>
    </div>


</div>

<div class="wid-desktop"
    cdkDropList
    #widgetDesktop="cdkDropList"
    [cdkDropListData]="widgetsOnDesktop"
    (cdkDropListDropped)="copyFromList($event)">

    <widget-container 
        *ngFor="let widget of widgetsOnDesktop; let widgetIndex = index;" 
        cdkDrag
        [widgetIndex]="widgetIndex"
        [widget]="widget"
        [cdkDragData]="widget"
        [ngStyle]="{
            'transform': 'translate3d('+widget.dragPosition.x+'px,'+widget.dragPosition.y+'px, 0)'
        }"
        (cdkDragEnded)="dragEnded($event, widgetIndex)"
        cdkDragBoundary=".wid-desktop"></widget-container> 
    </div>
-->